{% extends "base.html" %}
{% block head %}
    {% load static %}
    <meta charset="UTF-8">
    <title>登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <link href="{% static 'css/amazeui.css' %}" rel="stylesheet">
    <link href="{% static 'css/dlstyle.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="login-boxtitle">
        <a href="home.html"><img alt="logo" src="{% static 'img/logobig.png' %}"/></a>
    </div>

    <div class="login-banner">
        <div class="login-main">
            <div class="login-banner-bg"><span></span><img src="{% static 'img/big.jpg' %}"/></div>
            <div class="login-box">
                <h3 class="title">登录商城</h3>
                <div class="clear"></div>
                <div class="login-form">
                    <form action="{% url 'login' %}" method="post">
                        <div class="user-name">
                            <label for="username"><i class="am-icon-user"></i></label>
                            {{ form.username }}
                        </div>
                        <div class="user-pass">
                            <label for="password"><i class="am-icon-lock"></i></label>
                            {{ form.password }}
                        </div>
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                        <div class="am-cf">
                            <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm">
						</div>
                    </form>
                     <div class="login-links">

                        <a href="{% url 'password_reset' %}" class="am-fr">忘记密码?</a>
                        <a href="{% url 'register' %}" class="zcnext am-fr am-btn-default">注册</a>
                        <br/>
                    </div>
                </div>


                <div class="partner">
                        <h3>合作账号</h3>
                    <div class="am-btn-group">
                        <li><a href="#"><i class="am-icon-qq am-icon-sm"></i><span>QQ登录</span></a></li>
                        <li><a href="#"><i class="am-icon-weibo am-icon-sm"></i><span>微博登录</span> </a></li>
                        <li><a href="#"><i class="am-icon-weixin am-icon-sm"></i><span>微信登录</span> </a></li>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
