{% extends "base.html" %}
{% block head %}
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
<title>准备重置</title>
<style>
    .center{
    width: 35%;
    height: 40%;
    position:absolute;
    left:0;
    top: -50px;
    bottom: 0;
    right: 0;
    margin: auto;
}

.margin{
margin-top:20px;
margin-bottom:20px;
font-size:20px;
}
</style>
{% endblock %}

{% block body %}
<div class="center">
    <div class="margin">
  <h1>忘记密码?</h1>
    </div>
    <div class="margin">
  <p class="am-serif">输入你的邮箱来获得重置密码地权限</p>
    </div>
  <form action="" method="post" >
      <div class="am-form-group">
      {{ form.as_p }}
      </div>
        <button type="submit" value="提交" class="am-btn am-btn-warning">提交</button>

      {% csrf_token %}
  </form>
</div>
<script>
    $(document).ready(function(){
      $("#id_email").addClass("am-form-field am-radius ");
    });
</script>
{% endblock %}
