{% extends "base.html" %}
{% block head %}
<title>准备重置</title>
<style>
    .center{
    width: 35%;
    height: 40%;
    position:absolute;
    left:0;
    top: -50px;
    bottom: 0;
    right: 0;
    margin: auto;
}
</style>
{% endblock %}

{% block body %}
<div class="center">
  <h1>忘记密码?</h1>
  <p class="am-serif">输入你的邮箱来获得重置密码地权限</p>
  <form action="" method="post" >
      {{ form.as_p }}
        <button type="submit" value="提交" class="am-btn am-btn-warning">提交</button>

      {% csrf_token %}
  </form>
</div>
{% endblock %}
