{% extends "base.html" %}
{% block head %}
    <title>密码重置</title>
<style>
    .center{
    width: 35%;
    height: 40%;
    position:absolute;
    left:0;
    top: -50px;
    bottom: 0;
    right: 0;
    margin: auto;
}

.margin{
margin-top:20px;
margin-bottom:20px;
font-size:20px;
}
</style>
{% endblock %}

{% block body %}
<div class="center">
    <h1>Password set</h1>
    <p>您的密码已经成功被重置。您现在可以<a style="color:blue;" href="{% url 'login' %}">登陆了</a>。</p>
</div>
{% endblock %}
