{% extends 'base.html' %}

{% block head %}
    {% load static %}

    <title>商品页面</title>

    <link type="text/css" href="{% static 'css/optstyle.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet" />

    <script type="text/javascript" src="{% static 'js/jquery-1.7.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/quick_links.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/amazeui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.imagezoom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>


{% endblock %}

{% block body %}
    <hr>
    <div class="listMain">
        <!--放大镜-->
        <div class="item-inform">
            <div class="clearfixLeft" id="clearcontent">

                <div class="box">
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $(".jqzoom").imagezoom();
                            $("#thumblist li a").click(function() {
                                $(this).parents("li").addClass("tb-selected").siblings().removeClass("tb-selected");
                                $(".jqzoom").attr('src', $(this).find("img").attr("mid"));
                                $(".jqzoom").attr('rel', $(this).find("img").attr("big"));
                            });
                        });
                    </script>

                    <div class="tb-booth tb-pic tb-s310">
                        <a href="{{ p.image.url }}"><img src="{{ p.image.url }}" alt="细节展示放大镜特效" rel="{{ p.image.url }}" class="jqzoom" /></a>
                    </div>
                    <ul class="tb-thumb" id="thumblist">
                        <li class="tb-selected">
                            <div class="tb-pic tb-s40">
                                <a href="#"><img src="{{ p.image.url }}" mid="{{ p.image.url }}" big="{{ p.image.url }}"></a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="clearfixRight">

                <!--规格属性-->
                <!--名称-->
                <div class="tb-detail-hd">
                    <h1>{{p.brand}} {{p.name}}</h1>
                </div>
                <div class="tb-detail-list">
                    <!--价格-->
                    <div class="tb-detail-price">
                        <li class="price iteminfo_price">
                            <dt>促销价</dt>
                            <dd><em>¥</em><b class="sys_item_price">{{p.price}}</b>  </dd>
                        </li>
                        <li class="price iteminfo_mktprice">
                            <dt>原价</dt>
                            <dd><em>¥</em><b class="sys_item_mktprice">{{p.price}}</b></dd>
                        </li>
                        <div class="clear"></div>
                    </div>

                    <!--地址-->
                    <dl class="iteminfo_parameter freight">
                        <dt>配送至</dt>
                        <div class="iteminfo_freprice">
                            <div class="am-form-content address">
                                <select data-am-selected>
                                    <option value="a">浙江省</option>
                                    <option value="b">湖北省</option>
                                </select>
                                <select data-am-selected>
                                    <option value="a">温州市</option>
                                    <option value="b">武汉市</option>
                                </select>
                                <select data-am-selected>
                                    <option value="a">瑞安区</option>
                                    <option value="b">洪山区</option>
                                </select>
                            </div>
                            <div class="pay-logis">
                                快递<b class="sys_item_freprice">10</b>元
                            </div>
                        </div>
                    </dl>


                    <!--销量-->
                    <ul class="tm-ind-panel">
                        <li class="tm-ind-item tm-ind-sellCount canClick">
                            <div class="tm-indcon"><span class="tm-label">月销量</span><span class="tm-count">1015</span></div>
                        </li>
                        <li class="tm-ind-item tm-ind-sumCount canClick">
                            <div class="tm-indcon"><span class="tm-label">累计销量</span><span class="tm-count">{{p.sales}}</span></div>
                        </li>
                        <li class="tm-ind-item tm-ind-reviewCount canClick tm-line3">
                            <div class="tm-indcon"><span class="tm-label">累计评价</span><span class="tm-count">640</span></div>
                        </li>
                    </ul>

                    <!--各种规格-->
                    <div class="iteminfo_parameter sys_item_specpara">

                        <div class="theme-popover">

                            <div class="theme-popbod dform">
                                <form class="theme-signin" name="loginform" action="" method="post">
                                    {% csrf_token %}
                                    <div class="theme-signin-left">


                                        <div class="theme-options">
                                            <div class="cart-title number">数量</div>
                                            <dd>
                                                <input id="min" class="am-btn am-btn-default" name="" type="button" value="-" />
                                                <input id="text_box" name="" type="text" value="1" style="width:30px;" />
                                                <input id="add" class="am-btn am-btn-default" name="" type="button" value="+" />
                                                <span id="Stock" class="tb-hidden">库存<span class="stock">1000</span>件</span>
                                            </dd>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pay">
                    <li>
                        <div class="clearfix tb-btn tb-btn-basket theme-login">
                            <a id="LikBasket" title="加入购物车" href="#"><i></i>加入购物车</a>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function(){
            $("#min").click(function() {
                var count = $("#text_box").val();
                count = Number(count);
                if(count > 1)$("#text_box").val(count - 1);
            });

            $("#add").click(function() {
                console.log("come in");
                var count = $("#text_box").val();
                var max_count = $(".stock").text();
                count = Number(count);
                max_count = Number(max_count);
                if(count < max_count)$("#text_box").val(count + 1);
            });


            $("#text_box").bind('input propertychange', function() {
                console.log("in");
                var s = $("#text_box").val();
                var re = /^[0-9]+$/ ;
                if(!re.test(s))$("#text_box").val(1);
                else {
                    s = Number(s);
                    var max_count = $(".stock").text();
                    max_count = Number(max_count);
                    if(s < 1)$("#text_box").val(1);
                    else if(s > max_count)$("#text_box").val(max_count);
                }
            });

            $("#LikBasket").click( function(){

                if("None" == "{{request.user.id}}") {
                    alert("请先登录");
                }
                var count = $("#text_box").val();
                var p_id = "{{pid}}";

                var csrf = $('input[name="csrfmiddlewaretoken"]').val()


                console.log(count + "  " + p_id + "  " + csrf);

                params = {'p_id':p_id, 'count':count, 'csrfmiddlewaretoken':csrf}

                $.post('/cart/add/', params, function (data) {
                    $('#J_MiniCartNum').text(" ¥"+data.cart_count.toFixed(2));
                });
            });
        });
    </script>
{% endblock %}