{% extends "base.html" %}
{% block head %}
    {% load static %}
    <meta charset="UTF-8">
    <title>注册</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <link href="{% static 'css/amazeui.css' %}" rel="stylesheet">
    <link href="{% static 'css/dlstyle.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/amazeui.min.js' %}"></script>
{% endblock %}

{% block body %}

		<div class="login-boxtitle">
			<a href="home/demo.html"><img alt="" src="{% static 'img/logobig.png' %}"/></a>
		</div>

		<div class="res-banner">
			<div class="res-main">
				<div class="login-banner-bg"><span></span><img src="{% static 'img/big.jpg' %}"/></div>
                <div class="login-box">
                    <div  id="doc-my-tabs">
                        <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
                            <li class="am-active">注册</li>
                        </ul>

                        <div class="am-tabs-bd">
                            <div class="am-tab-panel am-active">
                                <form method="post" action=".">

                                    {% csrf_token %}
                                    <div class="user-name">
                                        <label for="username"><i class="am-icon-user"></i></label>
                                        {{user_form.username}}
                                    </div>
                                    <div class="user-email">
                                        <label for="email"><i class="am-icon-envelope-o"></i></label>
                                        {{user_form.email}}
                                    </div>
                                    <div class="user-pass">
                                        <label for="password"><i class="am-icon-lock"></i></label>
                                        {{user_form.password}}
                                    </div>
                                    <div class="user-pass">
                                        <label for="passwordRepeat"><i class="am-icon-lock"></i></label>
                                        {{user_form.password2}}
                                    </div>

                                    <div class="am-cf">
                                        <input type="submit" name="" value="注册" class="am-btn am-btn-primary am-btn-sm am-fl">
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
			</div>
        </div>
{% endblock %}